{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Watchtower | Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% tailwind_css %}
</head>

<body>
    <div class="min-h-screen py-32 px-36 bg-gray-900 bg-cover bg-center">
            
        <!--Start of Staff ID-->
        <div class="min-h-10 flex flex-col-2 justify-center">
            <div class="bg-white p-6 rounded-lg mx-auto justify-center shadow-md w-[50%]">

                <div class="mx-auto justify-center text-gray-50 w-[55%]">
                    <a class="grid grid-cols-2 p-3">
                    <button class="bg-gray-800 m-2 px-5 py-9 rounded-lg font-bold text-3xl w-[90%] shadow- animate-bounce">New Docket</button>
                    <button class="bg-green-600  m-2 p-5 rounded-lg font-bold text-3xl w-[90%] shadow-lg"> Search Database</button>
                    <button class="bg-orange-600 m-2 p-5 rounded-lg font-bold text-3xl  w-[90%] shadow-lg">Case & Progress</button>
                    <button class="bg-red-600 m-2 p-5 rounded-lg font-bold text-3xl  w-[90%] shadow-lg">Command Messaging</button>
                    </a>
                </div>

                <div class="bg-gray-800 mx-auto justify-center w-[90%]">
                    Items here
                </div>


            </div>
        </div>
        <!--End of Staff ID-->
    </div>
</body>
</html>
